@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Concesionaria DevPlace</h1>
    <p>Somos la mejor concesionaria del pais. No dudes en contactarnos.</p>
</div>
